#about_part {
    margin-top: 300px;
    flex-direction: row;
    height: 80vh;
    gap: 80px;
    padding: 20px;
}

.about_me_text {
    font-size: 60px;
    margin-bottom: 1rem;
}

.about_me_paragraph {
    max-width: 500px;
    text-indent: 50px;
    font-size: 20px;
    line-height: 1.6;

}
.hide { 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.5s, visibility 0.5s; 
}
.show { 
    opacity: 1; 
    visibility: visible; 
    transition: opacity 0.5s, visibility 0.5s; 
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .about_me_text {
        font-size: 40px;
    }
    .about_me_paragraph {
        font-size: 18px;
    }
}

@media screen and (max-width:767px) {
    #about_part{
        flex-direction: column;
        gap: 20px;
    }
    .about_me_text {
        font-size: 30px;
    }
    .about_me_paragraph {
        font-size: 16px;
    }
}
