.about_contact{
    display: flex;
    gap: 45px;
    font-size: 35px;
}
.icon{
    width: 50px;
    height: 50px;
    gap: 50px;
}
.icon_container{
    display: flex;
    gap: 40px;
}
@media  screen and (min-width:768px) and (max-width:1023px){
    .about_contact{
        gap: 35px;
        font-size: 25px;
    }
    .icon{
        width: 40px;
        height: 40px;
    }
    .icon_container{
        gap: 30px;
    }
}

@media screen and (min-width:413px) and (max-width:767px){
    .about_contact{
        gap: 25px;
        font-size: 20px;
    }
    .icon{
        width: 30px;
        height: 30px;
    }
    .icon_container{
        gap: 25px;
    }
}

@media screen and (max-width:412px){
    .about_contact{
        gap: 15px;
        font-size: 15px;
    }
    .icon{
        width: 20px;
        height: 20px;
    }
    .icon_container{
        gap: 15px;
    }
}