.hello_text{
    font-size: 128px;
}
.short_intro{
    font-size:16px
}
.my_img{
    width: 300px;        
    height: 300px;       
    border-radius: 50%;
    object-fit: cover;
}
@keyframes spin_01{
    0%{
        transform: rotate(0deg);
        translate: 0px 0px;
    }
    50%{
        transform: rotate(360deg);
        translate: 300px 200px;
    }
    100%{
        transform: rotate(0deg);
        translate: 0px 0px;
    }
}
@keyframes spin_02{
    0%{
        transform: rotate(0deg);
        translate: 0px 0px;
    }
    50%{
        transform: rotate(360deg);
        translate: 0px -250px;
    }
    100%{
        transform: rotate(0deg);
        translate: 0px 0px;
    }
}
@keyframes spin_03{
    0%{
        transform: rotate(0deg);
        translate: 0px 0px;
    }
    50%{
        transform: rotate(360deg);
        translate: -300px 200px;
    }
    100%{
        transform: rotate(0deg);
        translate: 0px 0px;
    }
}

.circle{
    position: absolute;
    z-index: 1;
    height: 350px;
    width: 400px;
}
.circle::before {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url('../assets/html5.svg');
    background-size: contain;
    background-repeat: no-repeat;
    left: 180px;
    top: 30px;
    animation: spin_01 linear 5s infinite;
}
.circle_2{
    position: absolute;
    z-index: 1;
    height: 350px;
    width: 400px;
}
.circle_2::before{
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url('../assets/css3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    left: 340px;
    top: 275px;

}
.circle_3{
    position: absolute;
    z-index: 1;
    height: 350px;
    width: 400px;
}
.circle_3::before{
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url('../assets/js.svg');
    background-size: contain;
    background-repeat: no-repeat;
    left: 460px;
    top: 28px;

}

@media  screen and (min-width:768px) and (max-width:1023px){
    .hello_text{
        font-size: 80px;
    }
    .short_intro{
        font-size: 12px;
    }
    .my_img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    .circle::before, .circle_2::before, .circle_3::before {
        height: 40px;  /* Smaller icon size */
        width: 40px;
    }
    .circle::before{
        top: 80px;
        animation: spin_01 linear 5s infinite;
    }
    @keyframes spin_01{
        0%{
            transform: rotate(0deg);
            translate: 0px 0px;
        }
        50%{
            transform: rotate(360deg);
            translate: 250px 100px;
        }
        100%{
            transform: rotate(0deg); 
            transform: 0px 0px;
        }
    }
}

@media screen and (max-width:767px){
    .hello_text{
        font-size: 60px;
    }
    .short_intro{
        font-size: 9px; 
    }
    .my_img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover; 
    }
    .circle::before, .circle_2::before, .circle_3::before {
        height: 30px;  /* Smaller icon size */
        width: 30px;
    }
}
