#Project_part {
    margin-top: 300px;
    height: 80vh;
    gap: 80px;
    padding: 20px;
}
.project_text{
    font-size: 60px;
    text-align: center;
}
.first_project{
    font-size: 30px;
}
.text_paragraph{
    color: rgb(228, 226, 120);
}
#first_link{
    font-size: 20px;
    color: #fff8f8;
}
#img_first_project{
    width: 200px;
    height: 200px;
    border-radius: 0%;
}